In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv(r"C:\Users\User\Documents\ds_salaries.csv")
f=pd.DataFrame(data)
print(f.head())

   Unnamed: 0  work_year experience_level employment_type  \
0           0       2020               MI              FT
1           1       2020               SE              FT
2           2       2020               SE              FT
3           3       2020               MI              FT
4           4       2020               SE              FT

                    job_title  salary salary_currency  salary_in_usd  \
0              Data Scientist   70000             EUR          79833
1  Machine Learning Scientist  260000             USD         260000
2           Big Data Engineer   85000             GBP         109024
3        Product Data Analyst   20000             USD          20000
4   Machine Learning Engineer  150000             USD         150000

  employee_residence  remote_ratio company_location company_size
0                 DE             0               DE            L
1                 JP             0               JP            S
2                 GB            50               GB            M
3                 HN             0               HN            S
4                 US            50               US            L

In [5]:
print(f.columns)
print("there are", len(f), "rows in this table")

Index(['Unnamed: 0', 'work_year', 'experience_level', 'employment_type',
       'job_title', 'salary', 'salary_currency', 'salary_in_usd',
       'employee_residence', 'remote_ratio', 'company_location',
       'company_size'],
      dtype='object')
there are 607 rows in this table

In [12]:
q=f.loc[f["work_year"]==2020]
print("for 2020, we have", q["work_year"].count())

w=f.loc[f["work_year"]==2021]
print("for 2021, we have", w["work_year"].count())

e=f.loc[f["work_year"]==2022]
print("for 2022, we have", e["work_year"].count())

for 2020, we have 72
for 2021, we have 217
for 2022, we have 318

In [16]:
r=f.loc[f["experience_level"]==0]
print("for entry level, we have", r["experience_level"].count())

t=f.loc[f["experience_level"]==1]
print("for mid level, we have", t["experience_level"].count())

y=f.loc[f["experience_level"]==2]
print("for senior level, we have", y["experience_level"].count())

R=f.loc[f["experience_level"]==3]
print("for EXPERT level, we have", R["experience_level"].count())

for entry level, we have 88
for mid level, we have 213
for senior level, we have 280
for EXPERT level, we have 26

In [8]:
u=f.loc[f["employment_type"]=="FT"]
print("for full time, we have", u["employment_type"].count())

i=f.loc[f["employment_type"]=="PT"]
print("for part time, we have", i["employment_type"].count())

o=f.loc[f["employment_type"]=="CT"]
print("for contract, we have", o["employment_type"].count())

p=f.loc[f["employment_type"]=="FL"]
print("for freelance, we have", p["employment_type"].count())

for full time, we have 588
for part time, we have 10
for contract, we have 5
for freelance, we have 4

In [27]:
k=f.loc[f["remote_ratio"]==0]
print("for persons who dont work remotely, we have", k["remote_ratio"].count())

l=f.loc[f["remote_ratio"]==50]
print("for persons who partially work remotely, we have", l["remote_ratio"].count())

z=f.loc[f["remote_ratio"]==100]
print("for persons who work remotely, we have", z["remote_ratio"].count())

for persons who dont work remotely, we have 127
for persons who partially work remotely, we have 99
for persons who work remotely, we have 381

In [28]:
s=f[["salary_in_usd", "job_title",'experience_level','remote_ratio']]
print(s)

     salary_in_usd                   job_title experience_level  remote_ratio
0            79833              Data Scientist               MI             0
1           260000  Machine Learning Scientist               SE             0
2           109024           Big Data Engineer               SE            50
3            20000        Product Data Analyst               MI             0
4           150000   Machine Learning Engineer               SE            50
..             ...                         ...              ...           ...
602         154000               Data Engineer               SE           100
603         126000               Data Engineer               SE           100
604         129000                Data Analyst               SE             0
605         150000                Data Analyst               SE           100
606         200000                AI Scientist               MI           100

[607 rows x 4 columns]

In [126]:
g=s.loc[s["salary_in_usd"]>400000]
print(g)

     salary_in_usd                           job_title experience_level  \
33          450000                  Research Scientist               MI
63          412000                      Data Scientist               SE
97          450000              Financial Data Analyst               MI
157         423000  Applied Machine Learning Scientist               MI
225         416000            Principal Data Scientist               EX
252         600000             Principal Data Engineer               EX
523         405000                 Data Analytics Lead               SE

     remote_ratio
33              0
63            100
97            100
157            50
225           100
252           100
523           100

In [29]:
d=s.loc[s["salary_in_usd"]>500000]
print("the principal data engineer is the highest paid with a salary of", d["salary_in_usd"].max())

the principal data engineer is the highest paid with a salary of 600000

In [3]:
print("observation 1: the probability of being paid high depends mainly on the size of the company. large companies would pay high")
print("observation 2: the experience level didnt really matter. although being a senior or an expert was a plus")
print("observation 3: the US paid really higher than other countries. they were really liberal")
print("observation 4: most of the high paying jobs were fully remote")

observation 1: the probability of being paid high depends mainly on the size of the company. large companies would pay high
observation 2: the experience level didnt really matter. although being a senior or an expert was a plus
observation 3: the US paid really higher than other countries. they were really liberal
observation 4: most of the high paying jobs were fully remote